<ul class="navbar-nav">
  {{ if .IsTranslated }}
  <li class="nav-item dropup" aria-describedby="language-picker-description">
    <p class="sr-only" id="language-picker-description">{{ i18n "select-your-language" }}</p>
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <img src="/icons/languages.png" alt="" />
      <span>{{ i18n "translations" }}</span>
    </a>
    <div class="dropdown-menu dropdown-trans" role="listbox">
      <a class="dropdown-item" aria-selected="true" hreflang="{{ .Site.Language.Lang }}" role="option" lang="{{ .Site.Language.Lang }}" href="{{ .Permalink }}">{{ .Site.Language.LanguageName }}</a>
      {{ range .Translations }}
      <a class="dropdown-item" hreflang="{{ .Language.Lang }}" role="option" lang="{{ .Language.Lang }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
      {{ end }}
    </div>
  </li>
  {{ end }} 
</ul>
